#websiteTitle{
  text-align: center;
  margin-top: 0em;
  margin-bottom:0em;
}

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
}

li {
  float: right;
  

 
}

li a {
  display: block;
 background-color: magenta; 
 height: 0em;
 margin-left: auto;
 margin-right: auto;
 text-shadow: 2px blue;
padding: 36.4px;
 color: black;
 font-size: 18px;
 text-shadow: 1px 1px 2px blue;
 width: 10em;
 margin-bottom: 2em;

}

#homePageenvironmentphoto{
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 1em;
  border-radius: 35%;
  padding: 2em;
  
}


#heading1{
 margin-top: 2em; 
  margin-left: 0.5em;
  margin-bottom:2em;
}



.headings{
  margin-top: 2em; 
  margin-left: 0.5em;
  margin-bottom: 1em;
  

}

.cause{
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left:10%;
  margin-right:10%;
}

.causeWriting{
  margin-left:10%;
  margin-right:10%;
  border: 5px;
}

.causeWriting1{
  margin-left:10%;
  margin-right:10%;
  margin-top: 3em;
}
.causeWriting2{
margin-left:10%;
  margin-right:10%;
  margin-top: 3em;
}
.causeWriting3{
margin-left:10%;
  margin-right:10%;
  margin-top: 3em;
}

#audienceWriting{
   margin-left:10%;
  margin-right:10%;
  
}

#advocate{
   margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  margin-bottom: 3em;
}

#misconception{
  margin-bottom: 4em;
  font-size: 20px;
  margin-left: 0.5em;
}
//* End of index.html css*//


//* STYLE SECTIONING TAGS */
 { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}


body {
 background-color: lightcyan; 
}


h1 {
  color: navy;
}



#resourceTitle{
  margin-top: 0em;
  text-align: center;
}

#resourceDescription{
  margin-bottom: 2em;
  margin-left: 35px;
  font-size: 19px;
}

.resourceHeading{
  margin-top: 2em;
  margin-bottom: 1em;
}





#researchTitle {
   margin-top: 0em;
  text-align: center;
}

#ryaDescription {
   text-align: center;
  font-size: 19px;
  margin-top: 2em;
}

.researchUHeading {
  margin-top: 2em;
  margin-bottom: 1em;
}




.resourceWriting {
   margin-left:10%;
  margin-right:10%;
}
.resourceLinks {
   margin-left:10%;
  margin-right:10%;
  font-size: 18px;
}



#taTitle {
   margin-top: 0em;
  text-align: center;
}
#actionDescription {
   text-align: center;
  font-size: 19px;
  margin-top: 2em;
}
.actionWriting {
   margin-left:10%;
  margin-right:10%;
  
}

.taHeading {
 margin-top: 2em;
  margin-bottom: 1em;
}

#changePetition {
  margin-left:10%;
  margin-right:10%;
  font-size: 18px;
}

#contactYourRep {
 margin-left:10%;
  margin-right:10%;
  font-size: 18px;
}






#factsHeading{
  margin-top: 2.5 em;
  text-align: center;
margin-bottom: 2em;
}
#factBio{
  font-size: 18px;  
  text-align: center;
}

bodyF{
  text-align: center;
}

div{
  text-align: center;
  margin-bottom: 1em;
  margin-top: 5em;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 10px;
  border-style:none;
  background: rgba(0, 0, 255, 0.705);
  color: white;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  border-radius: 0em;
  padding: 10px;
  line-height: 1.2em;
  height: 6em; 
}

#generatorHeading{
 color: white;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black; 
}
#clickF{
  text-align: center;
  font-size: 18px;
}
 #myButton{
  background: rgba(0, 0, 255, 0.705);
  border-radius: 15px;
  border-style:none;
  padding: 15px;
  margin-top: 30px;
  margin-left:35%;
  margin-right: 35%; 
   text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  color: rgba(255, 0, 255, 0.952);
  font-size: 18px;

}

#fact{
  border-style:none;
  padding: 15px;
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
  font-family: fantasy;
  font-size: 2em;
  text-align: center;
  line-height: 1.2em;
  color: black;  
}

